.date_section {
  .date_hdr {
    border-bottom: 2px solid #b9b9b950;
    align-items: center;
    padding: 15px 40px;
    margin: 0;
    .title {
      p {
        margin: 0px;
        font-size: 30px;
        font-weight: 500;
      }
    }
    .options{
      button{
        margin-left: auto;
      }
    }
  }

  .mainContent {
    .inpt_div{
      margin-top: 40px;
      .custom_select{
        height: 45px;;
      }
  
    }
    .table_selection {
      margin: 50px 0px;
      table {
        thead {
          tr {
            th {
              font-size: 20px;
              background-color: #d9c35e;
              color: #fff;
              font-weight: 400;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 20px;
              text-align: center;
              font-weight: 400;
              background-color: #fff;
            }
          }
        }
      }
      .table-hover > tbody > tr:hover {
        --bs-table-accent-bg: #d9c35e;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
