.dashboard_section{
   
    .mainContent{
        margin-bottom: 70px;
        .dashboard_box{
            border: 1px solid #BFBFBF85;
            padding: 20px 40px;
            height: max-content;
            border-radius: 4px;
            min-height: 292px;
            
        }
        .secondBox{
            .heading{
                line-height: 50px;
            }
            .trackBox{
                margin: 10px 0px;
                .track{
                    display: flex;
                    border: 1px solid #BFBFBF;
                    border-radius: 19px;
                    margin: 10px 0px;
                    .star{
                        width: 40px;
                        height: 40px;
                        padding: 3px 5px 2px;
                        
                        border-radius: 50%;
                        margin-left: -2px;
                        img{
                            width: 30px;
                        }
                    }
                    .data{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        .text{
                            color: #000000CC;
                            &:first-child{
                                width:60% ;
                                padding-left: 10px;
                            }
                            &:nth-child(2){
                                width:5% ;
                                text-align: center;
                            }
                            &:last-child{
                                padding-left: 10px;
                                width:35% ;
                            }
                        }
                        
                    }
                }
            }
        }
        .thirdBox{
            height: 440px;
            overflow: auto;
            .heading_btn{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
            .day_table{
                table{
                    margin-top: 40px;
                    thead{
                        tr{
                            border-color: transparent;
                            th{
                                border-color: transparent;
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            height: 50px;
                            vertical-align: middle;
                            td{
                                  border-color: transparent;
                                  box-shadow: none;  
                            }
                        }
                    }
                }
            }
        }
        .fourthBox{
            .heading{
                padding-top: 15px; 
                padding-bottom: 15px;
            }
        }
        .fifthBox{
            min-height: 120px;
            .groups{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
                .user{
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 0px;
                }
                img{
                    width: 40px ;
                }
            }
        }
    }
}
