.custom_button {
  background-color: #d9c35e;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid #d9c35e;
  align-items: center;
  display: flex;
  justify-content: center;
  // width: 100%;

  &:hover {
    background-color: transparent;
    border: 2px solid #d9c35e;
    color: #d9c35e;
  }
  i{
    font-size: 20px;
    margin-right: 10px;
  }
  img {
    width: 20px;
    margin-right: 5px;
  }
  &:focus {
    box-shadow: none !important;
  }
}

.form-select:focus {
  border-color: #d9c35e;
  outline: none;
  box-shadow: none;
}
.cstm_lable{
  font-size: 16px;
}
.custom_select {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  padding: 8px 12px;
  height: 37px;
  .slct_options {
    font-size: 14px;
    color: #373737;
  }
}

// CUSTOM RADIO
.radio_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bfbfbf60;
  padding: 10px 24px;
  .radio_img_div {
    height: 32px;
    width: 32px;
    border: 1px solid #373737;
    border-radius: 100%;
    padding: 6px;
    align-items: center;
    display: flex;
    .radio_img {
      height: 100%;
      width: 100%;
    }
  }
  .radio_title {
    font-size: 16px;
    color: #373737;
    margin: 0px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
  }
  .form-check-input {
    height: 20px;
    width: 20px;
    border: 1px solid #d9c35e;
  }
  .form-check-input:checked {
    background-color: #d9c35e;
    border-color: #d9c35e;
  }
  .form-check-input:focus{
    box-shadow: none;
  }
}

/***** INPUT FIELD *****/
.form_input_group {
  label{
    font-size: 16px;
  }
  .input_div {
    display: flex;
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    height: 45px;
    padding-left: 15px;
    &:focus{
      border: 1px solid #d9c35e;
    }
    i{
      color: #888888;
      font-size: 15px;
    }
    .form_cntrl {
      border: none;
      font-size: 14px;
      color: #212529;
    }
    .form-control:focus {
      box-shadow: none;
    }
  }
}
