.sidebar_section{
    background-color: #257A8B;
    min-height: 100%;
    width: 100%;

    .list-group{
        a{
            background: transparent;
            font-size: 22px;
            font-weight: 400;
            border-bottom: 2px solid #ffffff4f;
            height: 60px;
            line-height: 40px;
            font-weight: 700;
            color: #fff;
            .sidebar_item{
                display: flex;
                margin-left: 20px;
                img{
                    margin-right: 15px;
                    height: 40px;
                    width: 20px;
                }
                p{
                    margin-bottom: 0px;
                }
            }
        }
        .list-group-item{
            &.active{
                border: 0px ;
                border-bottom:2px solid #ffffff4f;
                border-color: #ffffff4f   !important;
                color: #D9C35E;
        
            }
        }
     
    }
    
}

