.time_lp_section {
  .header_sec {
    border-bottom: 2px solid #b9b9b9;
    padding: 10px 40px;
    align-items: center;
    .title {
      p {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 500;
      }
    }
    .options {
    //   display: flex;
    }
    .searchBox {
      input {
        border: 2px solid #d9c35e;
        border-radius: 8px;
        outline: none;
        font-size: 20px;
        padding: 8px 12px;
        width: 270px;
      }
    }
  }
  .mainContent {
    margin: 50px auto;
    .range_box {
      background-color: #eeeeee;
      padding: 20px;
      border-radius: 8px;
      .range_lable {
        display: flex;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        justify-content: space-between;
        width: 100%;
        p {
          margin: 0px;
        }
      }
    }
    .image_box {
      margin: 50px auto;
      text-align: center;
    }
  }
}
