.cmpny_section {
  .cmpny_header {
    border-bottom: 2px solid #b9b9b950;
    align-items: center;
    padding: 19px 40px;
    margin: 0px;
    .title {
      p {
         margin: 0px;
        font-size: 30px;
        font-weight: 500;
      }
    }
    .cmpny_hdr_row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  .mainContent {
    margin: 50px auto;
    .table_selection {
      margin: 50px 0px;
      .table {
        border-color: #BFBFBF50;
        border-top-left-radius: 4px;
        thead {
          tr {
            th {
              font-size: 14px;
              background-color: #d9c35e;
              color: #fff;
              font-weight: 600;
              text-align: center;
            }
            :nth-child(1){
                border-top-left-radius: 4px;
            }
            :nth-child(6){
                border-top-right-radius: 4px;
            }
          }
        }
        tbody {
          tr {
            td {
              font-size: 14px;
              text-align: center;
              font-weight: 500;
              background-color: #fff;
              + .s_active {
                color: green;
              }
              + .s_offsire {
                color: red;
              }
              + .s_inactive {
                color: #d9c35e;
              }
              a {
                color: #d9c35e;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
