.header_section{
    background-color: #082B3A;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    p{
        font-size: 40px;
        color: #fff;
        font-weight: 500;
        margin: 0px;
        line-height: 40px;
    }
    .user{
        .header_dropdown{
            button{
                border-color: transparent;
                background-color: transparent;
                color: #fff;
                font-size: 20px;
                line-height: 20px;
                &:focus{
                    box-shadow: none;
                }
                &::after{
                    margin-left: 20px;
                }
            }
        }
    }
    
}
