.floor_section {
  .floor_header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #bfbfbf;
    align-items: center;
    padding: 18px 40px;
  }
  .floor_content {
    padding: 40px;
    .floor_side {
      border: 1px solid #bfbfbf;
      padding: 40px 24px;
      .floor_side_form {
      }
    }
    .floor_map_sec {
      // padding: 0px 30px;
      .map_title_row {
        display: flex;
        padding: 30px 0px;
        justify-content: end;
        border-bottom: 1px solid #bfbfbf50;
        .map_title_div {
          display: flex;
          align-items: center;
          width: max-content;
          .map_title_icon {
            height: 20px;
            width: 20px;
          }
          .title {
            font-size: 20px;
            color: #d9c35e;
            margin: 0;
            margin-left: 10px;
          }
        }
      }
      .floor_map_img_div{
       min-height: 550px;
       margin-top: 30px;
       .floor_map{
         height: 100%;
         width: 100%;
       }
      }
    }
  }
}
