body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder{
  font-size: 14px;
  color: #373737 !important;
}
/* -------------------------------------------------------------------------- */
/*                                    TEXT                                    */
/* -------------------------------------------------------------------------- */

.heading {
  
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    line-height:20px; 
 
}



/* -------------------------------------------------------------------------- */
/*                                 SUB HEADER                                 */
/* -------------------------------------------------------------------------- */
.SubHeader{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BFBFBF;
  align-items: center;
  padding: 22px 40px;
  margin-bottom: 40px;
  .options{
      display: flex;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 SEARCH BOX                                 */
/* -------------------------------------------------------------------------- */
.searchBox{
  
  input{
      border: 2px solid #D9C35E;
      border-radius: 8px;
      outline: none;
      font-size: 20px;
      padding: 8px 12px;
      width: 270px;
      width: 100%;
      box-shadow:none;
      &:focus{
        box-shadow:none;
        border: 2px solid #D9C35E;
      }
  }
}



/* -------------------------------------------------------------------------- */
/*                                CIRCLE RANGE                                */
/* -------------------------------------------------------------------------- */

.circle_div{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
  .circles{
          height: 130px;
      width: 130px;
      .circleText{
        padding: 10px;
        p{
          margin: 0px;
          text-align: center;
          &:first-child{
            font-size: 16px;
            font-weight: bold;
          }
          &:nth-child(2){
            font-size: 14px;
            font-weight: 500;
          }
          &:last-child{
            font-size: 12px;
            font-weight: 400;
            margin-top: 3px;
          }
        }
      }
  }
}

/* -------------------------------------------------------------------------- */
/*                                PROGRESS BOX                                */
/* -------------------------------------------------------------------------- */
.progressBox{
  background-color: #BFBFBF;
  height: 30px;
  .current{
   height: 30px;
   color: #fff;
   padding-top: 3px;
   text-align: center;
  }
}


.form-label{
  font-size: 22px ;
  font-weight: 400;
}  
.companybox .custom_select{
  width: 300px !important;

}
.custom_input_text{
  width: 300px;
  border: 2px solid #D9C35E;
  /* line-height: 20px; */
  font-size: 20px;
}
.form-control:focus{
  box-shadow: none;
  border-color: #D9C35E;
}


